body{
    margin:0px;
    background-color: rgb(231, 231, 231) ;
  
}
h2{
    font-size:35px;
}

p{
    color:black;
    font-size: 25px;
}


h1{
    color:rgb(135, 202, 181);
    margin:0;
    font-size: 60px;
}


ul{
    margin:0;
    padding: 0;
}

.container{
     display:flex;  /*sobre displays -> css-tricks.com */  /* flex-direction por padrao é row mas da pra mudar */
     align-items: center;    /*Alinha no eixo Y */
}

.sidebar{
    background-color: rgb(135, 202, 181) ;
    width: 300px;
    height:100vh;               /* altura ->(vh) view height - > pega o tamanho da pagina certinho */
    display: flex;
    align-items: center;/* Y */
    text-align: center;/*  X */
    justify-content: center;
    
}

.sidebar img{
   border-radius: 50%; 
   align-items: center;  

}

 .sidebar ul{             /*formata a lista dentro de sidebar */   
    list-style-type:none; 
    margin-top: 65px;
    margin-bottom: 65px;
    padding:0;
}

.sidebar ul a{             /*formata os links dentro da <ul> da sidebar */
    color:black;
    text-decoration: none;
    font-size: 27px;
}

.sidebar ul a:hover{            
    color:white;
 
}

.sidebar li{
    margin-bottom: 50px;
    
}

i {
	letter-spacing: 15px;
	padding: 5px 0cm 1cm 0cm;
	font-size: 35px;
	color: rgb(0, 0, 0);
	transition: all .2s ease-in-out;
}

i:hover {
	transform: scale(1.3);
}

.fa-github:hover{
	color: #24292F;
}

.fa-instagram:hover {
	color: #c32aa3;
}

.fa-linkedin:hover {
	color: #0a66c2;
}

.content{
    width:85%;
    margin-left: 100px;
}

.content u{
     color:rgb(135, 202, 181);
}

.content a{
    color:rgb(135, 202, 181);
    text-decoration: none;   
}
.content em{
    color:rgb(135, 202, 181);
    text-decoration: none;   
}
.content ol{
    list-style-type:none; 
    margin-top: 45px;
    margin-bottom: 65px;
    padding:0;
    font-size: 25px;
}

/*Para telas de ate 1279px */
/* Media Querie */

@media(max-width:1279px){
    h1{
        font-size:35px ;       
    }
    h2{
        font-size:25px;
    }
    p{
        font-size: 16px;
    }
    .sidebar ul a{
        font-size: 22px;

    }
    .sidebar img{
        border-radius: 50%; 
        align-items: center; 
        width: auto; 
     
     }
     i {
        letter-spacing: 2px;
        padding: 5px 0cm 1cm 0cm;
        font-size: 30px;
        color: rgb(0, 0, 0);
        transition: all .2s ease-in-out;
    }
    
    i:hover {
        transform: scale(1.3);
    }
    .content{
        width:69%;
        margin-left: 50px;
    }
}

